
GO
USE [ProyectoCourseScope]
GO
/****** Object:  User [Reportes]    Script Date: 21/9/2023 07:43:49 ******/
CREATE USER [Reportes] FOR LOGIN [Reportes] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Reportes]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Reportes]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Reportes]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Reportes]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Reportes]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [Reportes]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [Reportes]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[idAreas] [int] IDENTITY(1,1) NOT NULL,
	[NombreArea] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[idAreas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[idColor] [int] IDENTITY(1,1) NOT NULL,
	[NombreColor] [varchar](50) NOT NULL,
	[CodigoHexadecimal] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[idColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[MontoCompra] [float] NOT NULL,
	[TipoDePago] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[idCurso] [int] IDENTITY(1,1) NOT NULL,
	[NombreDelCurso] [text] NULL,
	[HechoConIa] [bit] NULL,
	[idCategorias] [int] NULL,
	[idAreas] [int] NULL,
	[idEstilo] [int] NULL,
	[idRecursosAdicionales] [int] NULL,
	[PrecioDelCurso] [float] NULL,
	[ResumenCurso] [text] NULL,
	[Adelanto] [text] NULL,
	[idImagenCursos] [int] NULL,
	[PortadaCurso] [varchar](200) NULL,
	[idCreador] [int] NULL,
	[Valoracion] [int] NULL,
	[NumeroEstudiantes] [int] NULL,
	[NivelCurso] [varchar](50) NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos_Idioma]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos_Idioma](
	[idIdioma] [int] NOT NULL,
	[idCurso] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estilo]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estilo](
	[idEstilo] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstilo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estilo] PRIMARY KEY CLUSTERED 
(
	[idEstilo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idCompra_idCurso]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idCompra_idCurso](
	[idCompra] [int] NOT NULL,
	[idCurso] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idCompra_idUsuario]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idCompra_idUsuario](
	[idCompra] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[Comprador_Vendedor] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idEstilo_idColor]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idEstilo_idColor](
	[idEstilo] [int] NOT NULL,
	[idColor] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idEstilo_idTipografia]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idEstilo_idTipografia](
	[idEstilo] [int] NOT NULL,
	[idTipografia] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[idIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Idioma] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[idIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagenesCursos]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagenesCursos](
	[idImagenesCursos] [int] IDENTITY(1,1) NOT NULL,
	[NombreImagen] [text] NOT NULL,
	[SrcImagen] [text] NOT NULL,
 CONSTRAINT [PK_ImagenesCursos] PRIMARY KEY CLUSTERED 
(
	[idImagenesCursos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leccion]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leccion](
	[idLeccion] [int] IDENTITY(1,1) NOT NULL,
	[NombreLeccion] [varchar](50) NOT NULL,
	[ContenidoLeccion] [varchar](50) NOT NULL,
	[idCursos] [int] NULL,
 CONSTRAINT [PK_Leccion] PRIMARY KEY CLUSTERED 
(
	[idLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presentacion]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentacion](
	[idPresentacion] [int] IDENTITY(1,1) NOT NULL,
	[NombrePresentacion] [varchar](50) NOT NULL,
	[idSlide] [int] NOT NULL,
	[idEstilo] [int] NOT NULL,
 CONSTRAINT [PK_Presentacion] PRIMARY KEY CLUSTERED 
(
	[idPresentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecursosAdicionales]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecursosAdicionales](
	[idRecursosAdicionales] [int] IDENTITY(1,1) NOT NULL,
	[NombreRecurso] [varchar](50) NOT NULL,
	[Contenido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RecursosAdicionales] PRIMARY KEY CLUSTERED 
(
	[idRecursosAdicionales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[idSlide] [int] IDENTITY(1,1) NOT NULL,
	[ContenidoSlide] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[idSlide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipografia]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipografia](
	[idTipografia] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipografia] [varchar](50) NOT NULL,
	[FontFamily] [varchar](50) NOT NULL,
	[FontSrc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipografia] PRIMARY KEY CLUSTERED 
(
	[idTipografia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FotoDePerfil] [varchar](200) NULL,
	[Biografia] [varchar](50) NULL,
	[Ubicacion] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Cursos]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Cursos](
	[idUsuario] [int] NOT NULL,
	[idCurso] [int] NOT NULL,
	[CreadorDelCurso] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Presentacion]    Script Date: 21/9/2023 07:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Presentacion](
	[idUsuario] [int] NOT NULL,
	[idPresentacion] [int] NOT NULL,
	[Editor] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([idAreas], [NombreArea]) VALUES (1, N'3D')
INSERT [dbo].[Area] ([idAreas], [NombreArea]) VALUES (2, N'Animacion 2D')
INSERT [dbo].[Area] ([idAreas], [NombreArea]) VALUES (3, N'Arquitectura de la Informacion')
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([idCategoria], [NombreCategoria]) VALUES (1, N'Desarrollo Web')
INSERT [dbo].[Categoria] ([idCategoria], [NombreCategoria]) VALUES (2, N'Desarrollo Movil')
INSERT [dbo].[Categoria] ([idCategoria], [NombreCategoria]) VALUES (3, N'Lenguajes de programacion')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 

SET IDENTITY_INSERT [dbo].[Cursos] OFF
GO
INSERT [dbo].[Cursos_Idioma] ([idIdioma], [idCurso]) VALUES (1, 1)
INSERT [dbo].[Cursos_Idioma] ([idIdioma], [idCurso]) VALUES (2, 1)
INSERT [dbo].[Cursos_Idioma] ([idIdioma], [idCurso]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Estilo] ON 

INSERT [dbo].[Estilo] ([idEstilo], [NombreEstilo]) VALUES (1, N'Aesthetic')
INSERT [dbo].[Estilo] ([idEstilo], [NombreEstilo]) VALUES (2, N'Creativa')
INSERT [dbo].[Estilo] ([idEstilo], [NombreEstilo]) VALUES (3, N'Minimalista')
SET IDENTITY_INSERT [dbo].[Estilo] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([idIdioma], [Idioma]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([idIdioma], [Idioma]) VALUES (2, N'Ingles')
INSERT [dbo].[Idioma] ([idIdioma], [Idioma]) VALUES (3, N'Aleman')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[ImagenesCursos] ON 

INSERT [dbo].[ImagenesCursos] ([idImagenesCursos], [NombreImagen], [SrcImagen]) VALUES (14, N'asa', N'https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
INSERT [dbo].[ImagenesCursos] ([idImagenesCursos], [NombreImagen], [SrcImagen]) VALUES (15, N'a', N'https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
INSERT [dbo].[ImagenesCursos] ([idImagenesCursos], [NombreImagen], [SrcImagen]) VALUES (16, N'fda', N'https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
SET IDENTITY_INSERT [dbo].[ImagenesCursos] OFF
GO
SET IDENTITY_INSERT [dbo].[Leccion] ON 

INSERT [dbo].[Leccion] ([idLeccion], [NombreLeccion], [ContenidoLeccion], [idCursos]) VALUES (1, N'Leccion1', N'ContenidoLeccion1', NULL)
INSERT [dbo].[Leccion] ([idLeccion], [NombreLeccion], [ContenidoLeccion], [idCursos]) VALUES (2, N'Leccion2', N'ContenidoLeccion2', NULL)
SET IDENTITY_INSERT [dbo].[Leccion] OFF
GO
SET IDENTITY_INSERT [dbo].[Presentacion] ON 

INSERT [dbo].[Presentacion] ([idPresentacion], [NombrePresentacion], [idSlide], [idEstilo]) VALUES (1, N'Presentacion1', 1, 1)
SET IDENTITY_INSERT [dbo].[Presentacion] OFF
GO
SET IDENTITY_INSERT [dbo].[RecursosAdicionales] ON 

INSERT [dbo].[RecursosAdicionales] ([idRecursosAdicionales], [NombreRecurso], [Contenido]) VALUES (1, N'RecursoAdicional1', N'Contenido1')
INSERT [dbo].[RecursosAdicionales] ([idRecursosAdicionales], [NombreRecurso], [Contenido]) VALUES (2, N'RecursoAdicional2', N'Contenido2')
SET IDENTITY_INSERT [dbo].[RecursosAdicionales] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([idSlide], [ContenidoSlide]) VALUES (1, N'Contenido1')
INSERT [dbo].[Slide] ([idSlide], [ContenidoSlide]) VALUES (2, N'Contenido2')
INSERT [dbo].[Slide] ([idSlide], [ContenidoSlide]) VALUES (3, N'Contenido3')
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contraseña], [Email], [FotoDePerfil], [Biografia], [Ubicacion], [Nombre]) VALUES (1, N'Choclo', N'abcde', N'arenaalessandro156@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contraseña], [Email], [FotoDePerfil], [Biografia], [Ubicacion], [Nombre]) VALUES (2, N'Suezii', N'12345', N'sueztobias@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contraseña], [Email], [FotoDePerfil], [Biografia], [Ubicacion], [Nombre]) VALUES (3, N'Ferrari_Rocco_1105', N'abcde12345', N'roccoferrari@gmail.com', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Usuario_Cursos] ([idUsuario], [idCurso], [CreadorDelCurso]) VALUES (1, 1, 1)
GO
INSERT [dbo].[Usuario_Presentacion] ([idUsuario], [idPresentacion], [Editor]) VALUES (1, 1, 1)
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Area] FOREIGN KEY([idAreas])
REFERENCES [dbo].[Area] ([idAreas])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Area]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Categoria] FOREIGN KEY([idCategorias])
REFERENCES [dbo].[Categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Categoria]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Estilo] FOREIGN KEY([idEstilo])
REFERENCES [dbo].[Estilo] ([idEstilo])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Estilo]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_ImagenesCursos] FOREIGN KEY([idImagenCursos])
REFERENCES [dbo].[ImagenesCursos] ([idImagenesCursos])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_ImagenesCursos]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_RecursosAdicionales] FOREIGN KEY([idRecursosAdicionales])
REFERENCES [dbo].[RecursosAdicionales] ([idRecursosAdicionales])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_RecursosAdicionales]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Usuario] FOREIGN KEY([idCreador])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Usuario]
GO
ALTER TABLE [dbo].[Cursos_Idioma]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Idioma_Idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[Idioma] ([idIdioma])
GO
ALTER TABLE [dbo].[Cursos_Idioma] CHECK CONSTRAINT [FK_Cursos_Idioma_Idioma]
GO
ALTER TABLE [dbo].[idCompra_idCurso]  WITH CHECK ADD  CONSTRAINT [FK_idCompra_idCurso_Compra] FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compra] ([idCompra])
GO
ALTER TABLE [dbo].[idCompra_idCurso] CHECK CONSTRAINT [FK_idCompra_idCurso_Compra]
GO
ALTER TABLE [dbo].[idCompra_idCurso]  WITH CHECK ADD  CONSTRAINT [FK_idCompra_idCurso_Cursos] FOREIGN KEY([idCurso])
REFERENCES [dbo].[Cursos] ([idCurso])
GO
ALTER TABLE [dbo].[idCompra_idCurso] CHECK CONSTRAINT [FK_idCompra_idCurso_Cursos]
GO
ALTER TABLE [dbo].[idCompra_idUsuario]  WITH CHECK ADD  CONSTRAINT [FK_idCompra_idUsuario_Compra] FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compra] ([idCompra])
GO
ALTER TABLE [dbo].[idCompra_idUsuario] CHECK CONSTRAINT [FK_idCompra_idUsuario_Compra]
GO
ALTER TABLE [dbo].[idCompra_idUsuario]  WITH CHECK ADD  CONSTRAINT [FK_idCompra_idUsuario_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[idCompra_idUsuario] CHECK CONSTRAINT [FK_idCompra_idUsuario_Usuario]
GO
ALTER TABLE [dbo].[idEstilo_idColor]  WITH CHECK ADD  CONSTRAINT [FK_idEstilo_idColor_Color] FOREIGN KEY([idColor])
REFERENCES [dbo].[Color] ([idColor])
GO
ALTER TABLE [dbo].[idEstilo_idColor] CHECK CONSTRAINT [FK_idEstilo_idColor_Color]
GO
ALTER TABLE [dbo].[idEstilo_idColor]  WITH CHECK ADD  CONSTRAINT [FK_idEstilo_idColor_Estilo] FOREIGN KEY([idEstilo])
REFERENCES [dbo].[Estilo] ([idEstilo])
GO
ALTER TABLE [dbo].[idEstilo_idColor] CHECK CONSTRAINT [FK_idEstilo_idColor_Estilo]
GO
ALTER TABLE [dbo].[idEstilo_idTipografia]  WITH CHECK ADD  CONSTRAINT [FK_idEstilo_idTipografia_Estilo] FOREIGN KEY([idEstilo])
REFERENCES [dbo].[Estilo] ([idEstilo])
GO
ALTER TABLE [dbo].[idEstilo_idTipografia] CHECK CONSTRAINT [FK_idEstilo_idTipografia_Estilo]
GO
ALTER TABLE [dbo].[idEstilo_idTipografia]  WITH CHECK ADD  CONSTRAINT [FK_idEstilo_idTipografia_Tipografia] FOREIGN KEY([idTipografia])
REFERENCES [dbo].[Tipografia] ([idTipografia])
GO
ALTER TABLE [dbo].[idEstilo_idTipografia] CHECK CONSTRAINT [FK_idEstilo_idTipografia_Tipografia]
GO
ALTER TABLE [dbo].[Leccion]  WITH CHECK ADD  CONSTRAINT [FK_Leccion_Cursos] FOREIGN KEY([idCursos])
REFERENCES [dbo].[Cursos] ([idCurso])
GO
ALTER TABLE [dbo].[Leccion] CHECK CONSTRAINT [FK_Leccion_Cursos]
GO
ALTER TABLE [dbo].[Presentacion]  WITH CHECK ADD  CONSTRAINT [FK_Presentacion_Estilo] FOREIGN KEY([idEstilo])
REFERENCES [dbo].[Estilo] ([idEstilo])
GO
ALTER TABLE [dbo].[Presentacion] CHECK CONSTRAINT [FK_Presentacion_Estilo]
GO
ALTER TABLE [dbo].[Presentacion]  WITH CHECK ADD  CONSTRAINT [FK_Presentacion_Slide] FOREIGN KEY([idSlide])
REFERENCES [dbo].[Slide] ([idSlide])
GO
ALTER TABLE [dbo].[Presentacion] CHECK CONSTRAINT [FK_Presentacion_Slide]
GO
ALTER TABLE [dbo].[Usuario_Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Cursos_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuario_Cursos] CHECK CONSTRAINT [FK_Usuario_Cursos_Usuario]
GO
ALTER TABLE [dbo].[Usuario_Presentacion]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Presentacion_Presentacion] FOREIGN KEY([idPresentacion])
REFERENCES [dbo].[Presentacion] ([idPresentacion])
GO
ALTER TABLE [dbo].[Usuario_Presentacion] CHECK CONSTRAINT [FK_Usuario_Presentacion_Presentacion]
GO
ALTER TABLE [dbo].[Usuario_Presentacion]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Presentacion_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuario_Presentacion] CHECK CONSTRAINT [FK_Usuario_Presentacion_Usuario]
GO
USE [master]
GO
